h1 {
    color: red;
    margin: 0;
}

h3 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
}

h2 {
    color: blue;
}
 
nav ul {
    display: flex;
    padding: 0px;
} 

{
    padding: 10;
    margin: 10;
    font-size: 40px;
    box-sizing: border-box;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: red;
    color: black;
    margin-right: 5px;

}

.box-one {
    background-color: #EB5757;
    padding: 10px
    height: 100px;
    width: 100px;
    border: 20px solid #9B51E0;
    margin: 100px;
    box-sizing: border-box;
}

.box-two {
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid #9B51E0;
    margin: 70px;
}

.home {
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hello-card {
    border: 1px solid black;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    border-radius: 1px;
    padding: 10px;
}

.mask {
    height: 3.0em;
    overflow: hidden;
}